*{box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Montserrat', sans-serif; 
}

h2{
  font-size: 1.5rem;
}
